.title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 63px;
  color: #2d2971;
  margin: 60px 0 40px 15px;
}

.smallBlock,
.bigBlock {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 0 auto;
}

.smallBlock {
  width: 280px;
}

.bigBlock {
  margin-top: 30px;
}

.list_item {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.list_item_decsr {
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  margin-top: 20px;
  width: 110px;
  text-align: center;
}

@media (min-width: 1399px) {
  .title {
    font-weight: 600;
    font-size: 65px;
    line-height: 63px;
    text-align: center;
    margin-top: 110px;
  }

  .list_item_img{
    width: 141px;
    height: 141px;
  }

  .smallBlock{
    width: 500px;
    margin-top: 75px;
  }

  .bigBlock{
    width: 900px;
    margin-top: 65px;
  }
  /* ostImg */
}
