.container {
  width: 100%;
  margin-top: 70px;
}

.backImg {
  width: 100%;
}

.info {
  padding: 0 15px;
}

.info_descr_title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  background: -webkit-linear-gradient(45deg, #f16500, #fbe12b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 330px;
}

.info_decsr {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin-top: 20px;
}

.info_decsr_btn {
  width: 227px;
  height: 55px;
  background: #021d65;
  border-radius: 15px;
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  font-family: Helvetica;
  margin-top: 35px;
  cursor: pointer;
}

@media (min-width: 1399px) {
  .backImg {
    display: none;
  }

  .container {
    width: 100%;
    height: 540px;
    background-image: url(../../images/long.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  .info_descr_title {
    font-weight: 600;
    font-size: 65px;
    line-height: 63px;
    width: 680px;
    margin-top: 40px;
  }

  .info_decsr {
    font-size: 16px;
    line-height: 22px;
    width: 500px;
    margin: 80px 0 40px;
  }

  .info_decsr_btn {
    width: 227px;
    height: 55px;
  }
}
